.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #555248;
}


ul, h1, h2, h3, p{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

.title{
	@include fonts(normal, 400, 32px, 43px, $playfair, #1B1A17);
}


//---------Header start---------
.header{
	position: fixed;
	width: 100%;
	background: $backgroundHeader;
	z-index: 100;
	&__container{
		@include flexs(row, space-between, center);
		flex-wrap: wrap;
		padding: 35px 0 25px 0;
	}
}


.header__list{
	@include flexs(row, space-between, center);
	column-gap: 65px;
	margin-right: 12px;
	.header__link{
		@include fonts(normal, 400, 15px, 15px, $roboto, #555248);
		&:hover{
			@extend %hover;
			color: $colorPinkHeader;
		}
	}
}


.header__menu{
	@include flexs(row, space-between, center);
	column-gap: 23px;
	.menu__item-like{
		position: relative;
		&::after{
			content: "";
			position: absolute;
			width: 13px;
			height: 13px;
			border-radius: 50%;
			bottom: 14px;
			left: 14px;
			background: $colorPinkHeader;
		}
		.item-like__count{
			@include fonts(normal, 400, 9px, 9px, $roboto, #1B1A17);
			position: absolute;
			z-index: 1;
			top: -2px;
			right: -2px;
		}
	}
	.menu__item:hover{
		@extend %hover;
		transform: scale(1.2);
	}
}
//---------Header end----------



//--------Preview start-----------
.button{
	@include fonts(normal, 500, 12px, 12px, $roboto,  #FFFFFF);
	width: 132px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 25px 38px;
	&:hover{
		@extend %hover;
		opacity: 0.5;
	}
}

.preview{
	background: $backgroundHeader;
	&__container{
		column-gap: 65px;
		background: url('./assets/img/ellipse.png') no-repeat;
		@include previewbg(55%, 100%, 100%, 855px);
		@include flexs(row, stretch, center);
	}
}

.preview__content{
	@include flexs(column, space-between, flex-start);
	row-gap: 40px;
	margin-left: 85px;
	.preview__title h1{
		@include fonts(normal, 400, 50px, 60px, $playfair,  #1B1A17);
		&::before{
			@include previewBeforeAfter(50px, #8B8371);
			right: 65px;
			top: 35px;
		}
	}
	.preview__title h2{
		@include fonts(normal, 400, 30px, 40px, $playfair,  #1B1A17);
	}	
	.preview__subtitle{
		@include fonts(normal, 300, 14px, 21px, $roboto,  rgba(27, 26, 23, 0.82));
	}
	.preview__button{
		background: #444240;
	}
}

.preview__bg{
	position: relative;
	width: 50%;
	.preview__watch{
		background: url('./assets/img/watch_main.png') no-repeat;
		@include previewbg(50px, 90px, 502px, 880px);
	}
	.preview__price{
		position: absolute;
		display: inline-block;
		top: 223px;
		left: -10px;
		background: url('./assets/img/svg/ruble.svg') no-repeat right top;
		padding-right: 13px;
		@include fonts(normal, 400, 16px, 16px, $prata,  #1B1A17);
		&::after{
			@include previewBeforeAfter(50px, #8B8371);
			left: 77px;
			bottom: 10px;
		}
	}
	.preview__size{
		position: absolute;
		display: inline-block;
		bottom: 116px;
		right: -70px;
		@include fonts(normal, 400, 16px, 22px, $prata,  #1B1A17);
		&::after{
			@include previewBeforeAfter(50px, #8B8371);
			right: 70px;
			bottom: 12px;
		}
	}
}
//--------Preview end-------------



//--------Models start-------------
.models{
	background: #FFFFFF;
	&__container{
		padding: 80px 0 85px 0;
		@include flexs(column, space-between, center);
	}
}

.model__see{
	margin: auto 0 auto auto;
	@include fonts(normal, 500, 16px, 18px, $roboto, #444240);
	&::after{
		@include previewBeforeAfter(101px,  #C4C0B6);
		margin-top: 7px;
	}
	&:hover{
		@extend %hover;
		color: $colorPinkHeader;
	}
}

.models__content{
	@include flexs(row, space-between, center);
	flex-wrap: wrap;
	padding-top: 25px;
	column-gap: 30px;
}

.models__model{
	padding: 40px 28px;
	width: 314px;
	height: 390px;
	background: url('./assets/img/svg/ellipse_watch.svg') no-repeat center,
		#FDFDFB;
	.model__title{
		letter-spacing: 0.03em;
		text-transform: uppercase;
		@include fonts(normal, 700, 14px, 24px, $playfair,  rgba(27, 26, 23, 0.82));
	}
	.model__price{
		@include fonts(normal, 400, 12px, 16px, $prata,  rgba(27, 26, 23, 0.82));
		background: url('./assets/img/svg/ruble_small.svg') no-repeat right center;
		padding-right: 13px;
		display: inline-block;
	}
	img{
		width: 313px;
		height: 313px;
	}
	.model__about{
		@include fonts(normal, 400, 16px, 21px, $playfair, #1B1A17);
		left: 60px;
		position: relative;
		&::before{
			@include previewBeforeAfter(30px,   #8B8371);
			left: -48px;
			top: 13px;
		}
		&:hover{
			@extend %hover;
			color: $colorPinkHeader;
			left: 55px;
		}
	}
}
//--------Models end--------------



//-------Quality start------------
.quality{
	background: url('./assets/img/svg/ellipse__quality__small.svg') no-repeat top right,
		url('./assets/img/svg/ellipse__quality__big.svg') no-repeat bottom right;
}

.quality__bacgrounds{
	display: flex;
	width: 100%;
	position: absolute;
	.quality__bg-first{
		height: 520px;
		background: #F7F5EF;
		width: 35%;
	}
	.quality__bg-second{
		background: #FDFDFB;
		width: 65%;
		height: 520px;
	}
}

.quality__container{
	padding: 52px 15px 20px 15px;
	position: relative;
   left: -20px;
	.quality__cont{
		@include flexs(column, flex-start, stretch);
		row-gap: 18px;
	}
}

.quality__content{
	@include flexs(row, center, stretch);
   column-gap: 70px;
	.quality__info{
		@include flexs(column, center, stretch);
		.quality__title{
			margin-bottom: 28px;
		}
		.quality__text{
			@include fonts(normal, 400, 16px, 24px, $roboto,  #444240);
			max-width: 364px;
			margin-bottom: 45px;
		}
		.quality__button{
			background: #D4B098;
		}
	}
}

.quality__pages{
	@include flexs(row, center, center);
   column-gap: 20px;
   margin-left: -190px;
	.pages__arrow-left,
	.pages__arrow-right{
		display: inline-block;
		border: none;
		background: transparent;
		height: 11px;
	}
	.pages__page{
		@include fonts(normal, 400, 12px, 16px, $prata,  rgba(27, 26, 23, 0.82));
	}
	.pages__arrow-left{
		background: url('./assets/img/svg/arrow_left.svg') no-repeat;
	}	
	.pages__arrow-right{
		background: url('./assets/img/svg/arrow_right.svg') no-repeat;
	}
	.pages__arrow-left:hover,
	.pages__arrow-right:hover{
		@extend %hover;
		transform: scale(1.5);
	}
}
//-------Quality end--------------



//--------News start-------------
.news{
	background: #FFFFFF;
	&__container{
		@include flexs(row, flex-start, stretch);
		padding: 80px 0 90px 0;
		column-gap: 70px;
	}
}

.news__info{
	padding: 140px 0 60px 0;
	.news__title{
		margin-bottom: 30px;
		width: 471px;
	}
	.news__text{
		@include fonts(normal, 400, 16px, 27px, $roboto,  #444240);
		max-width: 365px;
		margin-bottom: 108px;
		& a{
			font-weight: 700;
			color: #1B1A17;
			&:hover{
				@extend %hover;
				color: #D4B098;
			}
		}
	}
}

.news__socials{
	@include flexs(row, space-between, center);
	display: inline-flex;
	column-gap: 18px;
	& i{
		font-size: 23px;
		color: #5C5C50;
		&:hover{
			@extend %hover;
			color: #D4B098;
			transform: scale(1.3);
		}
	}
}

.news__images{
	@include flexs(row, flex-start, stretch);
	column-gap: 10px;
	.images__two{
		@include flexs(column, space-between, stretch);
	}
}
//-------New end-----------------